openapi: 3.0.3
info:
  title: dddice
  description: ''
  version: 1.0.0
servers:
  -
    url: 'https://dddice.com'
paths:
  /api/1.0/theme:
    get:
      summary: 'List Themes'
      operationId: listThemes
      description: "Fetch a list of themes. Only the most recent version of each theme is returned\nwhere the \"most recent\" is determined by [SemVer 2.0.0](https://semver.org/spec/v2.0.0.html)"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  type: 'theme[]'
                  data:
                    -
                      meshes:
                        d4: /mesh/d04.fbx
                        d6: /mesh/d06.fbx
                        d8: /mesh/d08.fbx
                        d10: /mesh/d10.fbx
                        d10x: /mesh/d10.fbx
                        d12: /mesh/d12.fbx
                        d20: /mesh/d20.fbx
                      available_dice:
                        - d4
                        - d6
                        - d8
                        - d10
                        - d10x
                        - d12
                        - d20
                      physics:
                        inertia:
                          d4: 5
                          d6: 12
                          d8: 10
                          d10: 9
                          d10x: 9
                          d12: 8
                          d20: 6
                        weight:
                          d4: 300
                          d6: 300
                          d8: 340
                          d10: 350
                          d10x: 350
                          d12: 350
                          d20: 400
                      sizes:
                        d4: 1
                        d6: 1
                        d8: 1
                        d10: 1
                        d10x: 1
                        d12: 1
                        d20: 1
                      sounds:
                        -
                          src: /sounds/roll-1.mp3
                          'on': die.collide
                        -
                          src: /sounds/roll-2.mp3
                          'on': die.collide
                        -
                          src: /sounds/roll-3.mp3
                          'on': die.collide
                        -
                          src: /sounds/roll-loading-sm.mp3
                          'on': roll.loading
                          value: 2
                        -
                          src: /sounds/roll-loading-lg.mp3
                          'on': roll.loading
                          value: '>=3'
                      uniforms:
                        number:
                          type: color
                          value:
                            b: 0
                            g: 0.424
                            r: 0.463
                        diffuse:
                          type: color
                          value:
                            b: 0
                            g: 0.929
                            r: 1
                      values:
                        d4:
                          - 1
                          - 2
                          - 3
                          - 4
                        d6:
                          - 1
                          - 2
                          - 3
                          - 4
                          - 5
                          - 6
                        d8:
                          - 1
                          - 2
                          - 3
                          - 4
                          - 5
                          - 6
                          - 7
                          - 8
                        d10:
                          - 1
                          - 2
                          - 3
                          - 4
                          - 5
                          - 6
                          - 7
                          - 8
                          - 9
                          - 10
                        d12:
                          - 1
                          - 2
                          - 3
                          - 4
                          - 5
                          - 6
                          - 7
                          - 8
                          - 9
                          - 10
                          - 11
                          - 12
                        d20:
                          - 1
                          - 2
                          - 3
                          - 4
                          - 5
                          - 6
                          - 7
                          - 8
                          - 9
                          - 10
                          - 11
                          - 12
                          - 13
                          - 14
                          - 15
                          - 16
                          - 17
                          - 18
                          - 19
                          - 20
                        d10x:
                          - 10
                          - 20
                          - 30
                          - 40
                          - 50
                          - 60
                          - 70
                          - 80
                          - 90
                          - 0
                      id: voluptate-fuga
                      name: Miss
                      label:
                        color: '#000000'
                        background_color: '#e3d12d'
                      version: 1.0.0
                      textures:
                        -
                          src:
                            d4: u_numberMap.png
                            d6: u_numberMap.png
                            d8: u_numberMap.png
                            d10: u_numberMap.png
                            d12: u_numberMap.png
                            d20: u_numberMap.png
                            d10x: u_numberMap_d10x.png
                          binding: u_numberMap
                      api_version: '1.0'
                      description: 'Debitis commodi possimus et consectetur aut. Ut commodi sed perferendis id nesciunt cupiditate itaque. Repellat quam voluptas voluptas quo.'
                      user:
                        username: batz.eleanore
                        uuid: 67cc7c79-0321-345f-b7bd-3e069010c47e
                        name: 'Julianne Prosacco'
                        created_at: '2024-01-14T15:23:38.000000Z'
                        updated_at: '2024-01-14T15:23:38.000000Z'
                        stripe_id: null
                        pm_type: null
                        pm_last_four: null
                        trial_ends_at: null
                      created_at: '2024-01-14T15:23:38.000000Z'
                      updated_at: '2024-01-14T15:23:38.000000Z'
                    -
                      meshes:
                        d4: /mesh/d04.fbx
                        d6: /mesh/d06.fbx
                        d8: /mesh/d08.fbx
                        d10: /mesh/d10.fbx
                        d10x: /mesh/d10.fbx
                        d12: /mesh/d12.fbx
                        d20: /mesh/d20.fbx
                      available_dice:
                        - d4
                        - d6
                        - d8
                        - d10
                        - d10x
                        - d12
                        - d20
                      physics:
                        inertia:
                          d4: 5
                          d6: 12
                          d8: 10
                          d10: 9
                          d10x: 9
                          d12: 8
                          d20: 6
                        weight:
                          d4: 300
                          d6: 300
                          d8: 340
                          d10: 350
                          d10x: 350
                          d12: 350
                          d20: 400
                      sizes:
                        d4: 1
                        d6: 1
                        d8: 1
                        d10: 1
                        d10x: 1
                        d12: 1
                        d20: 1
                      sounds:
                        -
                          src: /sounds/roll-1.mp3
                          'on': die.collide
                        -
                          src: /sounds/roll-2.mp3
                          'on': die.collide
                        -
                          src: /sounds/roll-3.mp3
                          'on': die.collide
                        -
                          src: /sounds/roll-loading-sm.mp3
                          'on': roll.loading
                          value: 2
                        -
                          src: /sounds/roll-loading-lg.mp3
                          'on': roll.loading
                          value: '>=3'
                      uniforms:
                        number:
                          type: color
                          value:
                            b: 0
                            g: 0.424
                            r: 0.463
                        diffuse:
                          type: color
                          value:
                            b: 0
                            g: 0.929
                            r: 1
                      values:
                        d4:
                          - 1
                          - 2
                          - 3
                          - 4
                        d6:
                          - 1
                          - 2
                          - 3
                          - 4
                          - 5
                          - 6
                        d8:
                          - 1
                          - 2
                          - 3
                          - 4
                          - 5
                          - 6
                          - 7
                          - 8
                        d10:
                          - 1
                          - 2
                          - 3
                          - 4
                          - 5
                          - 6
                          - 7
                          - 8
                          - 9
                          - 10
                        d12:
                          - 1
                          - 2
                          - 3
                          - 4
                          - 5
                          - 6
                          - 7
                          - 8
                          - 9
                          - 10
                          - 11
                          - 12
                        d20:
                          - 1
                          - 2
                          - 3
                          - 4
                          - 5
                          - 6
                          - 7
                          - 8
                          - 9
                          - 10
                          - 11
                          - 12
                          - 13
                          - 14
                          - 15
                          - 16
                          - 17
                          - 18
                          - 19
                          - 20
                        d10x:
                          - 10
                          - 20
                          - 30
                          - 40
                          - 50
                          - 60
                          - 70
                          - 80
                          - 90
                          - 0
                      id: eum-debitis-et
                      name: Mr.
                      label:
                        color: '#000000'
                        background_color: '#e3d12d'
                      version: 1.0.0
                      textures:
                        -
                          src:
                            d4: u_numberMap.png
                            d6: u_numberMap.png
                            d8: u_numberMap.png
                            d10: u_numberMap.png
                            d12: u_numberMap.png
                            d20: u_numberMap.png
                            d10x: u_numberMap_d10x.png
                          binding: u_numberMap
                      api_version: '1.0'
                      description: 'Rem et commodi et quam. Voluptate pariatur sint vel voluptatem dolor. Veniam ut id iste ut reiciendis non iure sit. Id aut eaque sit aut dolorem enim laboriosam.'
                      user:
                        username: medhurst.shirley
                        uuid: a55a7e3b-dbf8-3865-959b-99303c202aa4
                        name: 'Kenton Schuppe II'
                        created_at: '2024-01-14T15:23:38.000000Z'
                        updated_at: '2024-01-14T15:23:38.000000Z'
                        stripe_id: null
                        pm_type: null
                        pm_last_four: null
                        trial_ends_at: null
                      created_at: '2024-01-14T15:23:38.000000Z'
                      updated_at: '2024-01-14T15:23:38.000000Z'
                properties:
                  type:
                    type: string
                    example: 'theme[]'
                  data:
                    type: array
                    example:
                      -
                        meshes:
                          d4: /mesh/d04.fbx
                          d6: /mesh/d06.fbx
                          d8: /mesh/d08.fbx
                          d10: /mesh/d10.fbx
                          d10x: /mesh/d10.fbx
                          d12: /mesh/d12.fbx
                          d20: /mesh/d20.fbx
                        available_dice:
                          - d4
                          - d6
                          - d8
                          - d10
                          - d10x
                          - d12
                          - d20
                        physics:
                          inertia:
                            d4: 5
                            d6: 12
                            d8: 10
                            d10: 9
                            d10x: 9
                            d12: 8
                            d20: 6
                          weight:
                            d4: 300
                            d6: 300
                            d8: 340
                            d10: 350
                            d10x: 350
                            d12: 350
                            d20: 400
                        sizes:
                          d4: 1
                          d6: 1
                          d8: 1
                          d10: 1
                          d10x: 1
                          d12: 1
                          d20: 1
                        sounds:
                          -
                            src: /sounds/roll-1.mp3
                            'on': die.collide
                          -
                            src: /sounds/roll-2.mp3
                            'on': die.collide
                          -
                            src: /sounds/roll-3.mp3
                            'on': die.collide
                          -
                            src: /sounds/roll-loading-sm.mp3
                            'on': roll.loading
                            value: 2
                          -
                            src: /sounds/roll-loading-lg.mp3
                            'on': roll.loading
                            value: '>=3'
                        uniforms:
                          number:
                            type: color
                            value:
                              b: 0
                              g: 0.424
                              r: 0.463
                          diffuse:
                            type: color
                            value:
                              b: 0
                              g: 0.929
                              r: 1
                        values:
                          d4:
                            - 1
                            - 2
                            - 3
                            - 4
                          d6:
                            - 1
                            - 2
                            - 3
                            - 4
                            - 5
                            - 6
                          d8:
                            - 1
                            - 2
                            - 3
                            - 4
                            - 5
                            - 6
                            - 7
                            - 8
                          d10:
                            - 1
                            - 2
                            - 3
                            - 4
                            - 5
                            - 6
                            - 7
                            - 8
                            - 9
                            - 10
                          d12:
                            - 1
                            - 2
                            - 3
                            - 4
                            - 5
                            - 6
                            - 7
                            - 8
                            - 9
                            - 10
                            - 11
                            - 12
                          d20:
                            - 1
                            - 2
                            - 3
                            - 4
                            - 5
                            - 6
                            - 7
                            - 8
                            - 9
                            - 10
                            - 11
                            - 12
                            - 13
                            - 14
                            - 15
                            - 16
                            - 17
                            - 18
                            - 19
                            - 20
                          d10x:
                            - 10
                            - 20
                            - 30
                            - 40
                            - 50
                            - 60
                            - 70
                            - 80
                            - 90
                            - 0
                        id: voluptate-fuga
                        name: Miss
                        label:
                          color: '#000000'
                          background_color: '#e3d12d'
                        version: 1.0.0
                        textures:
                          -
                            src:
                              d4: u_numberMap.png
                              d6: u_numberMap.png
                              d8: u_numberMap.png
                              d10: u_numberMap.png
                              d12: u_numberMap.png
                              d20: u_numberMap.png
                              d10x: u_numberMap_d10x.png
                            binding: u_numberMap
                        api_version: '1.0'
                        description: 'Debitis commodi possimus et consectetur aut. Ut commodi sed perferendis id nesciunt cupiditate itaque. Repellat quam voluptas voluptas quo.'
                        user:
                          username: batz.eleanore
                          uuid: 67cc7c79-0321-345f-b7bd-3e069010c47e
                          name: 'Julianne Prosacco'
                          created_at: '2024-01-14T15:23:38.000000Z'
                          updated_at: '2024-01-14T15:23:38.000000Z'
                          stripe_id: null
                          pm_type: null
                          pm_last_four: null
                          trial_ends_at: null
                        created_at: '2024-01-14T15:23:38.000000Z'
                        updated_at: '2024-01-14T15:23:38.000000Z'
                      -
                        meshes:
                          d4: /mesh/d04.fbx
                          d6: /mesh/d06.fbx
                          d8: /mesh/d08.fbx
                          d10: /mesh/d10.fbx
                          d10x: /mesh/d10.fbx
                          d12: /mesh/d12.fbx
                          d20: /mesh/d20.fbx
                        available_dice:
                          - d4
                          - d6
                          - d8
                          - d10
                          - d10x
                          - d12
                          - d20
                        physics:
                          inertia:
                            d4: 5
                            d6: 12
                            d8: 10
                            d10: 9
                            d10x: 9
                            d12: 8
                            d20: 6
                          weight:
                            d4: 300
                            d6: 300
                            d8: 340
                            d10: 350
                            d10x: 350
                            d12: 350
                            d20: 400
                        sizes:
                          d4: 1
                          d6: 1
                          d8: 1
                          d10: 1
                          d10x: 1
                          d12: 1
                          d20: 1
                        sounds:
                          -
                            src: /sounds/roll-1.mp3
                            'on': die.collide
                          -
                            src: /sounds/roll-2.mp3
                            'on': die.collide
                          -
                            src: /sounds/roll-3.mp3
                            'on': die.collide
                          -
                            src: /sounds/roll-loading-sm.mp3
                            'on': roll.loading
                            value: 2
                          -
                            src: /sounds/roll-loading-lg.mp3
                            'on': roll.loading
                            value: '>=3'
                        uniforms:
                          number:
                            type: color
                            value:
                              b: 0
                              g: 0.424
                              r: 0.463
                          diffuse:
                            type: color
                            value:
                              b: 0
                              g: 0.929
                              r: 1
                        values:
                          d4:
                            - 1
                            - 2
                            - 3
                            - 4
                          d6:
                            - 1
                            - 2
                            - 3
                            - 4
                            - 5
                            - 6
                          d8:
                            - 1
                            - 2
                            - 3
                            - 4
                            - 5
                            - 6
                            - 7
                            - 8
                          d10:
                            - 1
                            - 2
                            - 3
                            - 4
                            - 5
                            - 6
                            - 7
                            - 8
                            - 9
                            - 10
                          d12:
                            - 1
                            - 2
                            - 3
                            - 4
                            - 5
                            - 6
                            - 7
                            - 8
                            - 9
                            - 10
                            - 11
                            - 12
                          d20:
                            - 1
                            - 2
                            - 3
                            - 4
                            - 5
                            - 6
                            - 7
                            - 8
                            - 9
                            - 10
                            - 11
                            - 12
                            - 13
                            - 14
                            - 15
                            - 16
                            - 17
                            - 18
                            - 19
                            - 20
                          d10x:
                            - 10
                            - 20
                            - 30
                            - 40
                            - 50
                            - 60
                            - 70
                            - 80
                            - 90
                            - 0
                        id: eum-debitis-et
                        name: Mr.
                        label:
                          color: '#000000'
                          background_color: '#e3d12d'
                        version: 1.0.0
                        textures:
                          -
                            src:
                              d4: u_numberMap.png
                              d6: u_numberMap.png
                              d8: u_numberMap.png
                              d10: u_numberMap.png
                              d12: u_numberMap.png
                              d20: u_numberMap.png
                              d10x: u_numberMap_d10x.png
                            binding: u_numberMap
                        api_version: '1.0'
                        description: 'Rem et commodi et quam. Voluptate pariatur sint vel voluptatem dolor. Veniam ut id iste ut reiciendis non iure sit. Id aut eaque sit aut dolorem enim laboriosam.'
                        user:
                          username: medhurst.shirley
                          uuid: a55a7e3b-dbf8-3865-959b-99303c202aa4
                          name: 'Kenton Schuppe II'
                          created_at: '2024-01-14T15:23:38.000000Z'
                          updated_at: '2024-01-14T15:23:38.000000Z'
                          stripe_id: null
                          pm_type: null
                          pm_last_four: null
                          trial_ends_at: null
                        created_at: '2024-01-14T15:23:38.000000Z'
                        updated_at: '2024-01-14T15:23:38.000000Z'
                    items:
                      type: object
                      properties:
                        meshes:
                          type: object
                          properties:
                            d4:
                              type: string
                              example: /mesh/d04.fbx
                            d6:
                              type: string
                              example: /mesh/d06.fbx
                            d8:
                              type: string
                              example: /mesh/d08.fbx
                            d10:
                              type: string
                              example: /mesh/d10.fbx
                            d10x:
                              type: string
                              example: /mesh/d10.fbx
                            d12:
                              type: string
                              example: /mesh/d12.fbx
                            d20:
                              type: string
                              example: /mesh/d20.fbx
                        available_dice:
                          type: array
                          example:
                            - d4
                            - d6
                            - d8
                            - d10
                            - d10x
                            - d12
                            - d20
                          items:
                            type: string
                        physics:
                          type: object
                          properties:
                            inertia:
                              type: object
                              properties:
                                d4:
                                  type: integer
                                  example: 5
                                d6:
                                  type: integer
                                  example: 12
                                d8:
                                  type: integer
                                  example: 10
                                d10:
                                  type: integer
                                  example: 9
                                d10x:
                                  type: integer
                                  example: 9
                                d12:
                                  type: integer
                                  example: 8
                                d20:
                                  type: integer
                                  example: 6
                            weight:
                              type: object
                              properties:
                                d4:
                                  type: integer
                                  example: 300
                                d6:
                                  type: integer
                                  example: 300
                                d8:
                                  type: integer
                                  example: 340
                                d10:
                                  type: integer
                                  example: 350
                                d10x:
                                  type: integer
                                  example: 350
                                d12:
                                  type: integer
                                  example: 350
                                d20:
                                  type: integer
                                  example: 400
                        sizes:
                          type: object
                          properties:
                            d4:
                              type: integer
                              example: 1
                            d6:
                              type: integer
                              example: 1
                            d8:
                              type: integer
                              example: 1
                            d10:
                              type: integer
                              example: 1
                            d10x:
                              type: integer
                              example: 1
                            d12:
                              type: integer
                              example: 1
                            d20:
                              type: integer
                              example: 1
                        sounds:
                          type: array
                          example:
                            -
                              src: /sounds/roll-1.mp3
                              'on': die.collide
                            -
                              src: /sounds/roll-2.mp3
                              'on': die.collide
                            -
                              src: /sounds/roll-3.mp3
                              'on': die.collide
                            -
                              src: /sounds/roll-loading-sm.mp3
                              'on': roll.loading
                              value: 2
                            -
                              src: /sounds/roll-loading-lg.mp3
                              'on': roll.loading
                              value: '>=3'
                          items:
                            type: object
                            properties:
                              src:
                                type: string
                                example: /sounds/roll-1.mp3
                              'on':
                                type: string
                                example: die.collide
                        uniforms:
                          type: object
                          properties:
                            number:
                              type: object
                              properties:
                                type:
                                  type: string
                                  example: color
                                value:
                                  type: object
                                  properties:
                                    b:
                                      type: integer
                                      example: 0
                                    g:
                                      type: number
                                      example: 0.424
                                    r:
                                      type: number
                                      example: 0.463
                            diffuse:
                              type: object
                              properties:
                                type:
                                  type: string
                                  example: color
                                value:
                                  type: object
                                  properties:
                                    b:
                                      type: integer
                                      example: 0
                                    g:
                                      type: number
                                      example: 0.929
                                    r:
                                      type: integer
                                      example: 1
                        values:
                          type: object
                          properties:
                            d4:
                              type: array
                              example:
                                - 1
                                - 2
                                - 3
                                - 4
                              items:
                                type: integer
                            d6:
                              type: array
                              example:
                                - 1
                                - 2
                                - 3
                                - 4
                                - 5
                                - 6
                              items:
                                type: integer
                            d8:
                              type: array
                              example:
                                - 1
                                - 2
                                - 3
                                - 4
                                - 5
                                - 6
                                - 7
                                - 8
                              items:
                                type: integer
                            d10:
                              type: array
                              example:
                                - 1
                                - 2
                                - 3
                                - 4
                                - 5
                                - 6
                                - 7
                                - 8
                                - 9
                                - 10
                              items:
                                type: integer
                            d12:
                              type: array
                              example:
                                - 1
                                - 2
                                - 3
                                - 4
                                - 5
                                - 6
                                - 7
                                - 8
                                - 9
                                - 10
                                - 11
                                - 12
                              items:
                                type: integer
                            d20:
                              type: array
                              example:
                                - 1
                                - 2
                                - 3
                                - 4
                                - 5
                                - 6
                                - 7
                                - 8
                                - 9
                                - 10
                                - 11
                                - 12
                                - 13
                                - 14
                                - 15
                                - 16
                                - 17
                                - 18
                                - 19
                                - 20
                              items:
                                type: integer
                            d10x:
                              type: array
                              example:
                                - 10
                                - 20
                                - 30
                                - 40
                                - 50
                                - 60
                                - 70
                                - 80
                                - 90
                                - 0
                              items:
                                type: integer
                        id:
                          type: string
                          example: voluptate-fuga
                        name:
                          type: string
                          example: Miss
                        label:
                          type: object
                          properties:
                            color:
                              type: string
                              example: '#000000'
                            background_color:
                              type: string
                              example: '#e3d12d'
                        version:
                          type: string
                          example: 1.0.0
                        textures:
                          type: array
                          example:
                            -
                              src:
                                d4: u_numberMap.png
                                d6: u_numberMap.png
                                d8: u_numberMap.png
                                d10: u_numberMap.png
                                d12: u_numberMap.png
                                d20: u_numberMap.png
                                d10x: u_numberMap_d10x.png
                              binding: u_numberMap
                          items:
                            type: object
                            properties:
                              src:
                                type: object
                                properties:
                                  d4:
                                    type: string
                                    example: u_numberMap.png
                                  d6:
                                    type: string
                                    example: u_numberMap.png
                                  d8:
                                    type: string
                                    example: u_numberMap.png
                                  d10:
                                    type: string
                                    example: u_numberMap.png
                                  d12:
                                    type: string
                                    example: u_numberMap.png
                                  d20:
                                    type: string
                                    example: u_numberMap.png
                                  d10x:
                                    type: string
                                    example: u_numberMap_d10x.png
                              binding:
                                type: string
                                example: u_numberMap
                        api_version:
                          type: string
                          example: '1.0'
                        description:
                          type: string
                          example: 'Debitis commodi possimus et consectetur aut. Ut commodi sed perferendis id nesciunt cupiditate itaque. Repellat quam voluptas voluptas quo.'
                        user:
                          type: object
                          properties:
                            username:
                              type: string
                              example: batz.eleanore
                            uuid:
                              type: string
                              example: 67cc7c79-0321-345f-b7bd-3e069010c47e
                            name:
                              type: string
                              example: 'Julianne Prosacco'
                            created_at:
                              type: string
                              example: '2024-01-14T15:23:38.000000Z'
                            updated_at:
                              type: string
                              example: '2024-01-14T15:23:38.000000Z'
                            stripe_id:
                              type: string
                              example: null
                            pm_type:
                              type: string
                              example: null
                            pm_last_four:
                              type: string
                              example: null
                            trial_ends_at:
                              type: string
                              example: null
                        created_at:
                          type: string
                          example: '2024-01-14T15:23:38.000000Z'
                        updated_at:
                          type: string
                          example: '2024-01-14T15:23:38.000000Z'
      tags:
        - Theme
    post:
      summary: 'Create a Theme'
      operationId: createATheme
      description: 'Create a theme using a theme manifest and save to your dddice.'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
      responses:
        201:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    meshes:
                      d4: /mesh/d04.fbx
                      d6: /mesh/d06.fbx
                      d8: /mesh/d08.fbx
                      d10: /mesh/d10.fbx
                      d10x: /mesh/d10.fbx
                      d12: /mesh/d12.fbx
                      d20: /mesh/d20.fbx
                    available_dice:
                      - d4
                      - d6
                      - d8
                      - d10
                      - d10x
                      - d12
                      - d20
                    physics:
                      inertia:
                        d4: 5
                        d6: 12
                        d8: 10
                        d10: 9
                        d10x: 9
                        d12: 8
                        d20: 6
                      weight:
                        d4: 300
                        d6: 300
                        d8: 340
                        d10: 350
                        d10x: 350
                        d12: 350
                        d20: 400
                    sizes:
                      d4: 1
                      d6: 1
                      d8: 1
                      d10: 1
                      d10x: 1
                      d12: 1
                      d20: 1
                    sounds:
                      -
                        src: /sounds/roll-1.mp3
                        'on': die.collide
                      -
                        src: /sounds/roll-2.mp3
                        'on': die.collide
                      -
                        src: /sounds/roll-3.mp3
                        'on': die.collide
                      -
                        src: /sounds/roll-loading-sm.mp3
                        'on': roll.loading
                        value: 2
                      -
                        src: /sounds/roll-loading-lg.mp3
                        'on': roll.loading
                        value: '>=3'
                    uniforms:
                      number:
                        type: color
                        value:
                          b: 0
                          g: 0.424
                          r: 0.463
                      diffuse:
                        type: color
                        value:
                          b: 0
                          g: 0.929
                          r: 1
                    values:
                      d4:
                        - 1
                        - 2
                        - 3
                        - 4
                      d6:
                        - 1
                        - 2
                        - 3
                        - 4
                        - 5
                        - 6
                      d8:
                        - 1
                        - 2
                        - 3
                        - 4
                        - 5
                        - 6
                        - 7
                        - 8
                      d10:
                        - 1
                        - 2
                        - 3
                        - 4
                        - 5
                        - 6
                        - 7
                        - 8
                        - 9
                        - 10
                      d12:
                        - 1
                        - 2
                        - 3
                        - 4
                        - 5
                        - 6
                        - 7
                        - 8
                        - 9
                        - 10
                        - 11
                        - 12
                      d20:
                        - 1
                        - 2
                        - 3
                        - 4
                        - 5
                        - 6
                        - 7
                        - 8
                        - 9
                        - 10
                        - 11
                        - 12
                        - 13
                        - 14
                        - 15
                        - 16
                        - 17
                        - 18
                        - 19
                        - 20
                      d10x:
                        - 10
                        - 20
                        - 30
                        - 40
                        - 50
                        - 60
                        - 70
                        - 80
                        - 90
                        - 0
                    id: tempora-numquam-delectus
                    name: Dr.
                    label:
                      color: '#000000'
                      background_color: '#e3d12d'
                    version: 1.0.0
                    textures:
                      -
                        src:
                          d4: u_numberMap.png
                          d6: u_numberMap.png
                          d8: u_numberMap.png
                          d10: u_numberMap.png
                          d12: u_numberMap.png
                          d20: u_numberMap.png
                          d10x: u_numberMap_d10x.png
                        binding: u_numberMap
                    api_version: '1.0'
                    description: 'Qui omnis placeat eos aut aperiam fugiat ipsa. Ad laudantium consequatur non quos. Culpa numquam repellat sit voluptas corporis.'
                    user:
                      username: antonio09
                      uuid: 4a07c292-897f-378c-95e9-697689955abb
                      name: 'Lenora Hahn'
                      created_at: '2024-01-14T15:23:38.000000Z'
                      updated_at: '2024-01-14T15:23:38.000000Z'
                      stripe_id: null
                      pm_type: null
                      pm_last_four: null
                      trial_ends_at: null
                    created_at: '2024-01-14T15:23:38.000000Z'
                    updated_at: '2024-01-14T15:23:38.000000Z'
                properties:
                  data:
                    type: object
                    properties:
                      meshes:
                        type: object
                        properties:
                          d4:
                            type: string
                            example: /mesh/d04.fbx
                          d6:
                            type: string
                            example: /mesh/d06.fbx
                          d8:
                            type: string
                            example: /mesh/d08.fbx
                          d10:
                            type: string
                            example: /mesh/d10.fbx
                          d10x:
                            type: string
                            example: /mesh/d10.fbx
                          d12:
                            type: string
                            example: /mesh/d12.fbx
                          d20:
                            type: string
                            example: /mesh/d20.fbx
                      available_dice:
                        type: array
                        example:
                          - d4
                          - d6
                          - d8
                          - d10
                          - d10x
                          - d12
                          - d20
                        items:
                          type: string
                      physics:
                        type: object
                        properties:
                          inertia:
                            type: object
                            properties:
                              d4:
                                type: integer
                                example: 5
                              d6:
                                type: integer
                                example: 12
                              d8:
                                type: integer
                                example: 10
                              d10:
                                type: integer
                                example: 9
                              d10x:
                                type: integer
                                example: 9
                              d12:
                                type: integer
                                example: 8
                              d20:
                                type: integer
                                example: 6
                          weight:
                            type: object
                            properties:
                              d4:
                                type: integer
                                example: 300
                              d6:
                                type: integer
                                example: 300
                              d8:
                                type: integer
                                example: 340
                              d10:
                                type: integer
                                example: 350
                              d10x:
                                type: integer
                                example: 350
                              d12:
                                type: integer
                                example: 350
                              d20:
                                type: integer
                                example: 400
                      sizes:
                        type: object
                        properties:
                          d4:
                            type: integer
                            example: 1
                          d6:
                            type: integer
                            example: 1
                          d8:
                            type: integer
                            example: 1
                          d10:
                            type: integer
                            example: 1
                          d10x:
                            type: integer
                            example: 1
                          d12:
                            type: integer
                            example: 1
                          d20:
                            type: integer
                            example: 1
                      sounds:
                        type: array
                        example:
                          -
                            src: /sounds/roll-1.mp3
                            'on': die.collide
                          -
                            src: /sounds/roll-2.mp3
                            'on': die.collide
                          -
                            src: /sounds/roll-3.mp3
                            'on': die.collide
                          -
                            src: /sounds/roll-loading-sm.mp3
                            'on': roll.loading
                            value: 2
                          -
                            src: /sounds/roll-loading-lg.mp3
                            'on': roll.loading
                            value: '>=3'
                        items:
                          type: object
                          properties:
                            src:
                              type: string
                              example: /sounds/roll-1.mp3
                            'on':
                              type: string
                              example: die.collide
                      uniforms:
                        type: object
                        properties:
                          number:
                            type: object
                            properties:
                              type:
                                type: string
                                example: color
                              value:
                                type: object
                                properties:
                                  b:
                                    type: integer
                                    example: 0
                                  g:
                                    type: number
                                    example: 0.424
                                  r:
                                    type: number
                                    example: 0.463
                          diffuse:
                            type: object
                            properties:
                              type:
                                type: string
                                example: color
                              value:
                                type: object
                                properties:
                                  b:
                                    type: integer
                                    example: 0
                                  g:
                                    type: number
                                    example: 0.929
                                  r:
                                    type: integer
                                    example: 1
                      values:
                        type: object
                        properties:
                          d4:
                            type: array
                            example:
                              - 1
                              - 2
                              - 3
                              - 4
                            items:
                              type: integer
                          d6:
                            type: array
                            example:
                              - 1
                              - 2
                              - 3
                              - 4
                              - 5
                              - 6
                            items:
                              type: integer
                          d8:
                            type: array
                            example:
                              - 1
                              - 2
                              - 3
                              - 4
                              - 5
                              - 6
                              - 7
                              - 8
                            items:
                              type: integer
                          d10:
                            type: array
                            example:
                              - 1
                              - 2
                              - 3
                              - 4
                              - 5
                              - 6
                              - 7
                              - 8
                              - 9
                              - 10
                            items:
                              type: integer
                          d12:
                            type: array
                            example:
                              - 1
                              - 2
                              - 3
                              - 4
                              - 5
                              - 6
                              - 7
                              - 8
                              - 9
                              - 10
                              - 11
                              - 12
                            items:
                              type: integer
                          d20:
                            type: array
                            example:
                              - 1
                              - 2
                              - 3
                              - 4
                              - 5
                              - 6
                              - 7
                              - 8
                              - 9
                              - 10
                              - 11
                              - 12
                              - 13
                              - 14
                              - 15
                              - 16
                              - 17
                              - 18
                              - 19
                              - 20
                            items:
                              type: integer
                          d10x:
                            type: array
                            example:
                              - 10
                              - 20
                              - 30
                              - 40
                              - 50
                              - 60
                              - 70
                              - 80
                              - 90
                              - 0
                            items:
                              type: integer
                      id:
                        type: string
                        example: tempora-numquam-delectus
                      name:
                        type: string
                        example: Dr.
                      label:
                        type: object
                        properties:
                          color:
                            type: string
                            example: '#000000'
                          background_color:
                            type: string
                            example: '#e3d12d'
                      version:
                        type: string
                        example: 1.0.0
                      textures:
                        type: array
                        example:
                          -
                            src:
                              d4: u_numberMap.png
                              d6: u_numberMap.png
                              d8: u_numberMap.png
                              d10: u_numberMap.png
                              d12: u_numberMap.png
                              d20: u_numberMap.png
                              d10x: u_numberMap_d10x.png
                            binding: u_numberMap
                        items:
                          type: object
                          properties:
                            src:
                              type: object
                              properties:
                                d4:
                                  type: string
                                  example: u_numberMap.png
                                d6:
                                  type: string
                                  example: u_numberMap.png
                                d8:
                                  type: string
                                  example: u_numberMap.png
                                d10:
                                  type: string
                                  example: u_numberMap.png
                                d12:
                                  type: string
                                  example: u_numberMap.png
                                d20:
                                  type: string
                                  example: u_numberMap.png
                                d10x:
                                  type: string
                                  example: u_numberMap_d10x.png
                            binding:
                              type: string
                              example: u_numberMap
                      api_version:
                        type: string
                        example: '1.0'
                      description:
                        type: string
                        example: 'Qui omnis placeat eos aut aperiam fugiat ipsa. Ad laudantium consequatur non quos. Culpa numquam repellat sit voluptas corporis.'
                      user:
                        type: object
                        properties:
                          username:
                            type: string
                            example: antonio09
                          uuid:
                            type: string
                            example: 4a07c292-897f-378c-95e9-697689955abb
                          name:
                            type: string
                            example: 'Lenora Hahn'
                          created_at:
                            type: string
                            example: '2024-01-14T15:23:38.000000Z'
                          updated_at:
                            type: string
                            example: '2024-01-14T15:23:38.000000Z'
                          stripe_id:
                            type: string
                            example: null
                          pm_type:
                            type: string
                            example: null
                          pm_last_four:
                            type: string
                            example: null
                          trial_ends_at:
                            type: string
                            example: null
                      created_at:
                        type: string
                        example: '2024-01-14T15:23:38.000000Z'
                      updated_at:
                        type: string
                        example: '2024-01-14T15:23:38.000000Z'
      tags:
        - Theme
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                frag_shader:
                  type: string
                  description: 'Custom fragment shader'
                  example: nam
                manifest:
                  type: string
                  description: 'Theme manifest configuration'
                  example: '{"meshes":{"d4":"/mesh/d04.fbx","d6":"/mesh/d06.fbx","d8":"/mesh/d08.fbx","d10":"/mesh/d10.fbx","d10x":"/mesh/d10.fbx","d12":"/mesh/d12.fbx","d20":"/mesh/d20.fbx"},"available_dice":["d4","d6","d8","d10","d10x","d12","d20"],"physics":{"inertia":{"d4":5,"d6":12,"d8":10,"d10":9,"d10x":9,"d12":8,"d20":6},"weight":{"d4":300,"d6":300,"d8":340,"d10":350,"d10x":350,"d12":350,"d20":400}},"sizes":{"d4":1,"d6":1,"d8":1,"d10":1,"d10x":1,"d12":1,"d20":1},"sounds":[{"src":"/sounds/roll-1.mp3","on":"die.collide"},{"src":"/sounds/roll-2.mp3","on":"die.collide"},{"src":"/sounds/roll-3.mp3","on":"die.collide"}],"uniforms":{"diffuse":{"type":"color","value":{"r":1,"g":0.929,"b":0}},"number":{"type":"color","value":{"r":0.463,"g":0.424,"b":0}}},"values":{"d4":[1,2,3,4],"d6":[1,2,3,4,5,6],"d8":[1,2,3,4,5,6,7,8],"d10":[1,2,3,4,5,6,7,8,9,10],"d12":[1,2,3,4,5,6,7,8,9,10,11,12],"d20":[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20],"d10x":[10,20,30,40,50,60,70,80,90,0]},"id":"delectus_perferendis","version":"1.0.0","api_version":"1.0","name":"Miss","description":"Distinctio esse est dolores sit praesentium laboriosam officiis. Iure qui voluptatibus quidem atque nobis est consectetur enim. Eveniet harum quod quae optio repellat.","label":{"color":"#000000","background_color":"#e3d12d"},"textures":[{"binding":"u_numberMap","src":{"d4":"u_numberMap.png","d6":"u_numberMap.png","d8":"u_numberMap.png","d10":"u_numberMap.png","d12":"u_numberMap.png","d20":"u_numberMap.png","d10x":"u_numberMap_d10x.png"}}],"user":{"username":"ea_est","uuid":"c5de15e0-4337-11ed-abda-0242ac120003","name":"Ms. Demetris Mraz II","created_at":"2022-10-03T16:23:55.000000Z","updated_at":"2022-10-03T16:23:55.000000Z"},"created_at":"2022-10-03T16:23:55.000000Z","updated_at":"2022-10-03T16:23:55.000000Z"}'
                vert_shader:
                  type: string
                  description: 'Custom vertex shader'
                  example: veniam
                assets:
                  type: array
                  description: 'Associated theme assets, filenames must match manifest.json references'
                  example:
                    - null
                  items:
                    type: File
              required:
                - manifest
  '/api/1.0/theme/{id}':
    get:
      summary: 'Get Theme'
      operationId: getTheme
      description: 'Get information about a theme. Returns the latest version.'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    meshes:
                      d4: /mesh/d04.fbx
                      d6: /mesh/d06.fbx
                      d8: /mesh/d08.fbx
                      d10: /mesh/d10.fbx
                      d10x: /mesh/d10.fbx
                      d12: /mesh/d12.fbx
                      d20: /mesh/d20.fbx
                    available_dice:
                      - d4
                      - d6
                      - d8
                      - d10
                      - d10x
                      - d12
                      - d20
                    physics:
                      inertia:
                        d4: 5
                        d6: 12
                        d8: 10
                        d10: 9
                        d10x: 9
                        d12: 8
                        d20: 6
                      weight:
                        d4: 300
                        d6: 300
                        d8: 340
                        d10: 350
                        d10x: 350
                        d12: 350
                        d20: 400
                    sizes:
                      d4: 1
                      d6: 1
                      d8: 1
                      d10: 1
                      d10x: 1
                      d12: 1
                      d20: 1
                    sounds:
                      -
                        src: /sounds/roll-1.mp3
                        'on': die.collide
                      -
                        src: /sounds/roll-2.mp3
                        'on': die.collide
                      -
                        src: /sounds/roll-3.mp3
                        'on': die.collide
                      -
                        src: /sounds/roll-loading-sm.mp3
                        'on': roll.loading
                        value: 2
                      -
                        src: /sounds/roll-loading-lg.mp3
                        'on': roll.loading
                        value: '>=3'
                    uniforms:
                      number:
                        type: color
                        value:
                          b: 0
                          g: 0.424
                          r: 0.463
                      diffuse:
                        type: color
                        value:
                          b: 0
                          g: 0.929
                          r: 1
                    values:
                      d4:
                        - 1
                        - 2
                        - 3
                        - 4
                      d6:
                        - 1
                        - 2
                        - 3
                        - 4
                        - 5
                        - 6
                      d8:
                        - 1
                        - 2
                        - 3
                        - 4
                        - 5
                        - 6
                        - 7
                        - 8
                      d10:
                        - 1
                        - 2
                        - 3
                        - 4
                        - 5
                        - 6
                        - 7
                        - 8
                        - 9
                        - 10
                      d12:
                        - 1
                        - 2
                        - 3
                        - 4
                        - 5
                        - 6
                        - 7
                        - 8
                        - 9
                        - 10
                        - 11
                        - 12
                      d20:
                        - 1
                        - 2
                        - 3
                        - 4
                        - 5
                        - 6
                        - 7
                        - 8
                        - 9
                        - 10
                        - 11
                        - 12
                        - 13
                        - 14
                        - 15
                        - 16
                        - 17
                        - 18
                        - 19
                        - 20
                      d10x:
                        - 10
                        - 20
                        - 30
                        - 40
                        - 50
                        - 60
                        - 70
                        - 80
                        - 90
                        - 0
                    id: consequatur-aspernatur-accusantium
                    name: Prof.
                    label:
                      color: '#000000'
                      background_color: '#e3d12d'
                    version: 1.0.0
                    textures:
                      -
                        src:
                          d4: u_numberMap.png
                          d6: u_numberMap.png
                          d8: u_numberMap.png
                          d10: u_numberMap.png
                          d12: u_numberMap.png
                          d20: u_numberMap.png
                          d10x: u_numberMap_d10x.png
                        binding: u_numberMap
                    api_version: '1.0'
                    description: 'Harum impedit aliquid quae ab ad aut quia. Quia est at ut mollitia. Omnis quia repudiandae est eius molestiae. Eaque aliquid dolor praesentium odio quia est minus qui.'
                    user:
                      username: ara69
                      uuid: 75e5c1b1-0720-35e7-ba59-c41c4023e281
                      name: 'Bianka Olson DVM'
                      created_at: '2024-01-14T15:23:38.000000Z'
                      updated_at: '2024-01-14T15:23:38.000000Z'
                      stripe_id: null
                      pm_type: null
                      pm_last_four: null
                      trial_ends_at: null
                    created_at: '2024-01-14T15:23:38.000000Z'
                    updated_at: '2024-01-14T15:23:38.000000Z'
                properties:
                  data:
                    type: object
                    properties:
                      meshes:
                        type: object
                        properties:
                          d4:
                            type: string
                            example: /mesh/d04.fbx
                          d6:
                            type: string
                            example: /mesh/d06.fbx
                          d8:
                            type: string
                            example: /mesh/d08.fbx
                          d10:
                            type: string
                            example: /mesh/d10.fbx
                          d10x:
                            type: string
                            example: /mesh/d10.fbx
                          d12:
                            type: string
                            example: /mesh/d12.fbx
                          d20:
                            type: string
                            example: /mesh/d20.fbx
                      available_dice:
                        type: array
                        example:
                          - d4
                          - d6
                          - d8
                          - d10
                          - d10x
                          - d12
                          - d20
                        items:
                          type: string
                      physics:
                        type: object
                        properties:
                          inertia:
                            type: object
                            properties:
                              d4:
                                type: integer
                                example: 5
                              d6:
                                type: integer
                                example: 12
                              d8:
                                type: integer
                                example: 10
                              d10:
                                type: integer
                                example: 9
                              d10x:
                                type: integer
                                example: 9
                              d12:
                                type: integer
                                example: 8
                              d20:
                                type: integer
                                example: 6
                          weight:
                            type: object
                            properties:
                              d4:
                                type: integer
                                example: 300
                              d6:
                                type: integer
                                example: 300
                              d8:
                                type: integer
                                example: 340
                              d10:
                                type: integer
                                example: 350
                              d10x:
                                type: integer
                                example: 350
                              d12:
                                type: integer
                                example: 350
                              d20:
                                type: integer
                                example: 400
                      sizes:
                        type: object
                        properties:
                          d4:
                            type: integer
                            example: 1
                          d6:
                            type: integer
                            example: 1
                          d8:
                            type: integer
                            example: 1
                          d10:
                            type: integer
                            example: 1
                          d10x:
                            type: integer
                            example: 1
                          d12:
                            type: integer
                            example: 1
                          d20:
                            type: integer
                            example: 1
                      sounds:
                        type: array
                        example:
                          -
                            src: /sounds/roll-1.mp3
                            'on': die.collide
                          -
                            src: /sounds/roll-2.mp3
                            'on': die.collide
                          -
                            src: /sounds/roll-3.mp3
                            'on': die.collide
                          -
                            src: /sounds/roll-loading-sm.mp3
                            'on': roll.loading
                            value: 2
                          -
                            src: /sounds/roll-loading-lg.mp3
                            'on': roll.loading
                            value: '>=3'
                        items:
                          type: object
                          properties:
                            src:
                              type: string
                              example: /sounds/roll-1.mp3
                            'on':
                              type: string
                              example: die.collide
                      uniforms:
                        type: object
                        properties:
                          number:
                            type: object
                            properties:
                              type:
                                type: string
                                example: color
                              value:
                                type: object
                                properties:
                                  b:
                                    type: integer
                                    example: 0
                                  g:
                                    type: number
                                    example: 0.424
                                  r:
                                    type: number
                                    example: 0.463
                          diffuse:
                            type: object
                            properties:
                              type:
                                type: string
                                example: color
                              value:
                                type: object
                                properties:
                                  b:
                                    type: integer
                                    example: 0
                                  g:
                                    type: number
                                    example: 0.929
                                  r:
                                    type: integer
                                    example: 1
                      values:
                        type: object
                        properties:
                          d4:
                            type: array
                            example:
                              - 1
                              - 2
                              - 3
                              - 4
                            items:
                              type: integer
                          d6:
                            type: array
                            example:
                              - 1
                              - 2
                              - 3
                              - 4
                              - 5
                              - 6
                            items:
                              type: integer
                          d8:
                            type: array
                            example:
                              - 1
                              - 2
                              - 3
                              - 4
                              - 5
                              - 6
                              - 7
                              - 8
                            items:
                              type: integer
                          d10:
                            type: array
                            example:
                              - 1
                              - 2
                              - 3
                              - 4
                              - 5
                              - 6
                              - 7
                              - 8
                              - 9
                              - 10
                            items:
                              type: integer
                          d12:
                            type: array
                            example:
                              - 1
                              - 2
                              - 3
                              - 4
                              - 5
                              - 6
                              - 7
                              - 8
                              - 9
                              - 10
                              - 11
                              - 12
                            items:
                              type: integer
                          d20:
                            type: array
                            example:
                              - 1
                              - 2
                              - 3
                              - 4
                              - 5
                              - 6
                              - 7
                              - 8
                              - 9
                              - 10
                              - 11
                              - 12
                              - 13
                              - 14
                              - 15
                              - 16
                              - 17
                              - 18
                              - 19
                              - 20
                            items:
                              type: integer
                          d10x:
                            type: array
                            example:
                              - 10
                              - 20
                              - 30
                              - 40
                              - 50
                              - 60
                              - 70
                              - 80
                              - 90
                              - 0
                            items:
                              type: integer
                      id:
                        type: string
                        example: consequatur-aspernatur-accusantium
                      name:
                        type: string
                        example: Prof.
                      label:
                        type: object
                        properties:
                          color:
                            type: string
                            example: '#000000'
                          background_color:
                            type: string
                            example: '#e3d12d'
                      version:
                        type: string
                        example: 1.0.0
                      textures:
                        type: array
                        example:
                          -
                            src:
                              d4: u_numberMap.png
                              d6: u_numberMap.png
                              d8: u_numberMap.png
                              d10: u_numberMap.png
                              d12: u_numberMap.png
                              d20: u_numberMap.png
                              d10x: u_numberMap_d10x.png
                            binding: u_numberMap
                        items:
                          type: object
                          properties:
                            src:
                              type: object
                              properties:
                                d4:
                                  type: string
                                  example: u_numberMap.png
                                d6:
                                  type: string
                                  example: u_numberMap.png
                                d8:
                                  type: string
                                  example: u_numberMap.png
                                d10:
                                  type: string
                                  example: u_numberMap.png
                                d12:
                                  type: string
                                  example: u_numberMap.png
                                d20:
                                  type: string
                                  example: u_numberMap.png
                                d10x:
                                  type: string
                                  example: u_numberMap_d10x.png
                            binding:
                              type: string
                              example: u_numberMap
                      api_version:
                        type: string
                        example: '1.0'
                      description:
                        type: string
                        example: 'Harum impedit aliquid quae ab ad aut quia. Quia est at ut mollitia. Omnis quia repudiandae est eius molestiae. Eaque aliquid dolor praesentium odio quia est minus qui.'
                      user:
                        type: object
                        properties:
                          username:
                            type: string
                            example: ara69
                          uuid:
                            type: string
                            example: 75e5c1b1-0720-35e7-ba59-c41c4023e281
                          name:
                            type: string
                            example: 'Bianka Olson DVM'
                          created_at:
                            type: string
                            example: '2024-01-14T15:23:38.000000Z'
                          updated_at:
                            type: string
                            example: '2024-01-14T15:23:38.000000Z'
                          stripe_id:
                            type: string
                            example: null
                          pm_type:
                            type: string
                            example: null
                          pm_last_four:
                            type: string
                            example: null
                          trial_ends_at:
                            type: string
                            example: null
                      created_at:
                        type: string
                        example: '2024-01-14T15:23:38.000000Z'
                      updated_at:
                        type: string
                        example: '2024-01-14T15:23:38.000000Z'
      tags:
        - Theme
    delete:
      summary: 'Delete Theme'
      operationId: deleteTheme
      description: 'Delete all versions of a given theme.'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
      responses:
        204:
          description: ''
      tags:
        - Theme
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the theme.'
        example: dddice-standard
        required: true
        schema:
          type: string
  '/api/1.0/theme/{id}/version':
    get:
      summary: 'Get All Theme Versions'
      operationId: getAllThemeVersions
      description: 'List all versions of a given theme.'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  type: 'theme[]'
                  data:
                    -
                      meshes:
                        d4: /mesh/d04.fbx
                        d6: /mesh/d06.fbx
                        d8: /mesh/d08.fbx
                        d10: /mesh/d10.fbx
                        d10x: /mesh/d10.fbx
                        d12: /mesh/d12.fbx
                        d20: /mesh/d20.fbx
                      available_dice:
                        - d4
                        - d6
                        - d8
                        - d10
                        - d10x
                        - d12
                        - d20
                      physics:
                        inertia:
                          d4: 5
                          d6: 12
                          d8: 10
                          d10: 9
                          d10x: 9
                          d12: 8
                          d20: 6
                        weight:
                          d4: 300
                          d6: 300
                          d8: 340
                          d10: 350
                          d10x: 350
                          d12: 350
                          d20: 400
                      sizes:
                        d4: 1
                        d6: 1
                        d8: 1
                        d10: 1
                        d10x: 1
                        d12: 1
                        d20: 1
                      sounds:
                        -
                          src: /sounds/roll-1.mp3
                          'on': die.collide
                        -
                          src: /sounds/roll-2.mp3
                          'on': die.collide
                        -
                          src: /sounds/roll-3.mp3
                          'on': die.collide
                        -
                          src: /sounds/roll-loading-sm.mp3
                          'on': roll.loading
                          value: 2
                        -
                          src: /sounds/roll-loading-lg.mp3
                          'on': roll.loading
                          value: '>=3'
                      uniforms:
                        number:
                          type: color
                          value:
                            b: 0
                            g: 0.424
                            r: 0.463
                        diffuse:
                          type: color
                          value:
                            b: 0
                            g: 0.929
                            r: 1
                      values:
                        d4:
                          - 1
                          - 2
                          - 3
                          - 4
                        d6:
                          - 1
                          - 2
                          - 3
                          - 4
                          - 5
                          - 6
                        d8:
                          - 1
                          - 2
                          - 3
                          - 4
                          - 5
                          - 6
                          - 7
                          - 8
                        d10:
                          - 1
                          - 2
                          - 3
                          - 4
                          - 5
                          - 6
                          - 7
                          - 8
                          - 9
                          - 10
                        d12:
                          - 1
                          - 2
                          - 3
                          - 4
                          - 5
                          - 6
                          - 7
                          - 8
                          - 9
                          - 10
                          - 11
                          - 12
                        d20:
                          - 1
                          - 2
                          - 3
                          - 4
                          - 5
                          - 6
                          - 7
                          - 8
                          - 9
                          - 10
                          - 11
                          - 12
                          - 13
                          - 14
                          - 15
                          - 16
                          - 17
                          - 18
                          - 19
                          - 20
                        d10x:
                          - 10
                          - 20
                          - 30
                          - 40
                          - 50
                          - 60
                          - 70
                          - 80
                          - 90
                          - 0
                      id: occaecati-id-deserunt
                      name: Mr.
                      label:
                        color: '#000000'
                        background_color: '#e3d12d'
                      version: 1.0.0
                      textures:
                        -
                          src:
                            d4: u_numberMap.png
                            d6: u_numberMap.png
                            d8: u_numberMap.png
                            d10: u_numberMap.png
                            d12: u_numberMap.png
                            d20: u_numberMap.png
                            d10x: u_numberMap_d10x.png
                          binding: u_numberMap
                      api_version: '1.0'
                      description: 'Odio aut culpa recusandae voluptatem consequatur ut voluptatibus. Aut dolores voluptas maiores et expedita rerum. Magnam et quia ad qui explicabo.'
                      user:
                        username: bkulas
                        uuid: cefe5571-8539-3e9a-8520-22b9962eb5e7
                        name: 'Ethel Leannon'
                        created_at: '2024-01-14T15:23:38.000000Z'
                        updated_at: '2024-01-14T15:23:38.000000Z'
                        stripe_id: null
                        pm_type: null
                        pm_last_four: null
                        trial_ends_at: null
                      created_at: '2024-01-14T15:23:38.000000Z'
                      updated_at: '2024-01-14T15:23:38.000000Z'
                    -
                      meshes:
                        d4: /mesh/d04.fbx
                        d6: /mesh/d06.fbx
                        d8: /mesh/d08.fbx
                        d10: /mesh/d10.fbx
                        d10x: /mesh/d10.fbx
                        d12: /mesh/d12.fbx
                        d20: /mesh/d20.fbx
                      available_dice:
                        - d4
                        - d6
                        - d8
                        - d10
                        - d10x
                        - d12
                        - d20
                      physics:
                        inertia:
[...]
